$level0_color: $primary;
$level1_color: $accent;
$level2_color: #ff6e14;
$level3_color: #18c20c;

.fg_level0 {
  color: $level0_color !important;
}

.fg_level1 {
  color: $level1_color !important;
}

.fg_level2 {
  color: $level2_color !important;
}

.fg_level3 {
  color: $level3_color !important;
}

header.header {
  //background: url('layout/Header/headerBg.jpg');
  background: linear-gradient(to right, #132b41 0% , #075170 50%, #132b41 100%);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  z-index: 98;

  >.container {
    position: relative;
  }

  .navbar-brand {
    margin-top: 15px;
    transition: all 250ms;
    #header--logo {
      max-height: 35px;
      transition: inherit;
    }
  }

  .navbar {
    //padding-top: 0;
    //padding-bottom: 0;
    //height: auto !important;
    position: relative;
    z-index: 1;

    >.container {
      position: relative;
    }

    @include media-breakpoint-up(md) {
      height: 60px;
    }

    .dropdown-toggle::after {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .nav-item {
      text-align: right;
      cursor: pointer;

      .nav-link {
        &.active {
          box-shadow: inset 0 -4px 0 rgba(255,255,255,0.65);
          background: rgba(255,255,255,0.1);
        }
      }
    }

    .profile-picture {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  #header-bottom {
    position: relative;
    height: auto;
    color: #fff;
    min-height: 50px;
    transition: all 250ms ease;

    >.container {
      padding-bottom: 1rem;
    }

    .shouldFade {
      padding-top: 1rem;
      margin-bottom: 2rem;
      transition: all 250ms ease-in-out;
    }

    .candidate-name {
      font-weight: bold;
      font-size: 1.9rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.75rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 2rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 2.25rem;
      }
      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }
    }

    .candidate-subtitle {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 100;
      margin-top: -10px;
      margin-bottom: 0;
      font-size: 1.5rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.55rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 2.05rem;
      }
      @include media-breakpoint-up(sm) {
        font-size: 2.3rem;
      }
    }

    .profile-stats {
      color: #fff;
      text-align: end;
      font-size: 2rem;
      display: none;
      
      @include media-breakpoint-up(xl) {
        display: block;
      }

      small {
        font-size: 12px;
      }
    }

    .progress {
      max-width: 50%;
      background-color: rgba(0,0,0,0.3);

      .progress-bar {
        background: #fff;
      }
    }

    .slider-wrapper {
      position: relative;

      .tooltip-holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 15px;

        .tooltip-target {
          flex: 1;
        }
      }
    }
  }

  .rc-slider {
    .rc-slider-track {
      background: $secondary;
      border-radius: 0;
    }
    .rc-slider-dot {
      background-color: $primary;
      opacity: 1 !important;
      width: 4px;
      margin-left: -2px;
    }
  }

  &.collapsed {
    .navbar-brand {
      margin-top: 5px;
      #header--logo {
        max-height: 40px;
      }
    }
  }

  &.header-profile {
    #header-bottom:not(.collapsed) {
      @include media-breakpoint-up(md) {
        padding-left: 150px + 15px;
        //width: calc(100% - 150px - 45px);
      }
      @include media-breakpoint-up(lg) {
        padding-left: 210px + 15px;
      }
      @include media-breakpoint-up(xl) {
        padding-left: 305px + 15px;
        //width: calc(100% - 305px - 45px - 15px);
      }
    }
  }
  
  &.header-account {
    #header-bottom {

      >.container {
        padding-bottom: .5rem;
        padding-top: 1rem;
      }
    }
    #header-progress {
      display: none;
      height: auto;
    }

    & + .main-content {
      //padding-top: 180px;
    }
  }
}

//body.fixed {
//  header.header {
//    position: fixed;
//    width: 100%;
//    z-index: 99;
//
//    #header-bottom {
//      height: 0;
//    }
//  }
//}