$level0_color: $primary;
$level1_color: $accent;
$level2_color: $secondary;
$level3_color: #00e30e;

.fg_level0 {
  color: $level0_color !important;
}

.fg_level1 {
  color: $level1_color !important;
}

.fg_level2 {
  color: $level2_color !important;
}

.fg_level3 {
  color: $level3_color !important;
}

header.header {
  //background: url('layout/Header/headerBg.jpg');
  background: linear-gradient(to right, #132b41 0% , #075170 50%, #132b41 100%);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  z-index: 98;

  >.container {
    position: relative;

    .slider-wrapper {
      position: absolute;
      bottom: 15px;
      left: 30px;
      width: calc(100% - 60px);
      z-index: 9;
      @include media-breakpoint-up(md) {
        left: 150px + 45px;
        width: 50%;
      }
      @include media-breakpoint-up(lg) {
        left: 210px + 45px;
      }
      @include media-breakpoint-up(xl) {
        left: 305px + 45px;
      }

      .tooltip-holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //padding: 0 15px;
        display: flex;

        > ul {
          display: flex;
          width: 100%;
          padding: 0;
          margin: 0;
        }

        .tooltip-target {
          flex: 1;
          cursor: pointer;
          //position: relative;
        }
      }
      
      #marker {
        color: #fff;
        width: 20px;
        height: 20px;
        font-size: 20px;
        position: absolute;
        top: -10px;
        transition: left 500ms ease-in-out;
      }
    }
  }

  .navbar-brand {
    margin-top: 15px;
    transition: all 250ms;
    #header--logo {
      max-height: 45px;
      transition: inherit;
    }
  }

  .navbar {
    //padding-top: 0;
    //padding-bottom: 0;
    //height: auto !important;
    position: relative;

    >.container {
      position: relative;
    }

    @include media-breakpoint-up(md) {
      height: 60px;
    }

    .dropdown-toggle::after {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .nav-item {
      text-align: right;
    }

    .profile-picture {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  #header-bottom {
    height: 180px;
    color: #fff;
    min-height: 40px;

    @include media-breakpoint-up(md) {
      //min-height: 0;
    }
    //transition: all 250ms;

    .candidate-name {
      font-weight: bold;
    }

    .candidate-subtitle {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 100;
      margin-top: -10px;
      //margin-bottom: 15px;
    }

    .profile-stats {
      color: #fff;
      font-size: 30px;
      text-align: end;

      small {
        font-size: 12px;
      }
    }

    .progress {
      max-width: 50%;
      background-color: rgba(0,0,0,0.3);

      .progress-bar {
        background: #fff;
      }
    }

    .slider-wrapper {
      position: relative;

      .tooltip-holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 15px;

        .tooltip-target {
          flex: 1;
        }
      }
    }
  }

  .rc-slider {
    .rc-slider-track {
      background: $secondary;
      border-radius: 0;
    }
    .rc-slider-dot {
      background-color: $primary;
      opacity: 1 !important;
      width: 4px;
      margin-left: -2px;
    }
  }

  &.collapsed {
    .navbar-brand {
      margin-top: 5px;
      #header--logo {
        max-height: 40px;
      }
    }
  }
}

//body.fixed {
//  header.header {
//    position: fixed;
//    width: 100%;
//    z-index: 99;
//
//    #header-bottom {
//      height: 0;
//    }
//  }
//}