@import './components/ProfileProgress/ProfileProgress';
@import './components/SideNav/SideNav';
@import './components/ProfileEditableCard';
@import './components/SkillsCard/SkillsCard';
@import './components/LanguagesCard/LanguagesCard';
@import './components/OccupationsCard/OccupationsCard';
@import './components/EmploymentsCard/EmploymentsCard';

.profile {
  .left {
    //margin-top: -180px;

    .profile-tips {
      position: fixed;
      z-index: 99;
      transition: all 250ms;
      top: 450px !important;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-up(md) {
        width: 150px;
      }
      @include media-breakpoint-up(lg) {
        width: 210px;
      }
      @include media-breakpoint-up(xl) {
        width: 305px;
      }

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 25px 25px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        top: -25px;
      }
    }

    .card {
      .picture-wrapper {
        position: relative;

      }
      .progress-wrapper {
        //background: url('layout/Header/headerBg.jpg');
        //background-position: center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 10px 15px;
        //background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);

        .progress {
          background-color: rgba(255,255,255,0.75);
          //border-radius: 0;
          transform: scale(0);
          transition: all 250ms;

          &.visible {
            transform: scale(1);
          }
          
          .progress-bar {
            background: #fff;
            //background: linear-gradient(to right, darken($accent, 25%) 30%, $accent 100%);
          }
        }
      }
      .profile-picture {
        transition: height 250ms;
        border-radius: 0;
      }
    }

    &.fixed {
      .card {
        position: fixed;
        z-index: 99;
        top: 310px;
        transition: all 250ms;

        @include media-breakpoint-up(md) {
          width: 150px;
        }
        @include media-breakpoint-up(lg) {
          width: 210px;
        }
        @include media-breakpoint-up(xl) {
          width: 305px;
        }

        .profile-picture {
          //height: 0;
        }
      }
    }
  }
}

.start-end-date {
  select {
    width: auto;
    margin-right: 5px;

    &.month {
      text-transform: capitalize;
    }
  }
}

