
.occupation-wrapper {



}

.occupation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.moving-occupation {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.occupation-item {
  margin-bottom: 5px;
  padding: 0;
  background: #fff;
  overflow: hidden;

  .remove-icon {
    color: $gray-300;
    width: 0;
    height: 24px;
    position: absolute;
    right: 0;
    transition: width 250ms;
  }

  .index {
    background: $secondary;
    min-width: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-right: 0;
    transition: padding 250ms;
  }
  
  .moving-icon {
    display: none;
    text-align: center;
  }

  &:hover {

    .remove-icon {
      width: 24px;

      &:hover {
        cursor: pointer;
        color: $gray-700;
      }
    }

    h5 {
      padding-right: 24px;
    }

    .index-number {
      display: none;
    }
    .moving-icon {
      display: block;
    }
  }
}

.occupations-slider {
  flex-grow: 1;
  //overflow: hidden;
}

.value {
  color: $gray-600;
  text-transform: uppercase;
  font-size: 12px;
}

.occupations-form {
  border-bottom: 1px solid $gray-200;
}