$iconSize: 24px;
$smallIconSize: 18px;
//$progressGreen: #03c16e;
$progressGreen: $secondary;

#header-progress {
 transition: padding 250ms ease-out;

  #header-progress-step-wrapper {
    display: flex;

    > div {
      display: flex;
      flex: 1;
      width: 100%;
    }

    .progress-step-wrapper {
      flex: 1;
      cursor: pointer;
      //margin: 0 2px;
      display: flex;
      position: relative;
      padding: 5px 2px;

      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .25;
      }

      &.level-1 {
        &:before {
          background: $level1_color;
        }
        &.done {
          .progress-step {
            background: $level1_color;
          }
        }
      }
      &.level-2 {
        &:before {
          background: $level2_color;
        }
        &.done {
          .progress-step {
            background: $level2_color;
          }
        }
      }
      &.level-3 {
        &:before {
          background: $level3_color;
        }
        &.done {
          .progress-step {
            background: $level3_color;
          }
        }
      }

      &:first-of-type {
        border-radius: 10px 0 0 10px;
        padding-left: 5px;

        &:before {
          border-radius: 10px 0 0 10px;
        }
        .progress-step {
          border-radius: 5px 0 0 5px;
        }
      }

      &:last-of-type {
        border-radius: 0 10px 10px 0;
        padding-right: 5px;

        &:before {
          border-radius: 0 10px 10px 0;
        }
        .progress-step {
          border-radius: 0 5px 5px 0;
        }
      }

      .level-marker {
        position: absolute;
        bottom: 20px;
        right: -30px;
        font-size: 30px;
        width: 30px;
        height: 30px;
        color: $gray-500;
        
        .number {
          position: absolute;
          right: 30%;
          top: 30%;
          color: #fff;
          font-size: 16px;
          opacity: .6;
        }
      }
      
      .progress-step {
        background: rgba(255,255,255,0.1);
        height: 10px;
        width: 100%;
        transition: background 500ms ease-in-out;
      }

      .icon-wrapper {
        display: none;
        @include media-breakpoint-up(sm) {
          display: block;
        }
        position: absolute;
        left: calc(50% - #{$iconSize} / 2);
        top: calc(50% - #{$iconSize} / 2);
        width: $iconSize;
        height: $iconSize;
        line-height: $iconSize;
        border-radius: $iconSize / 2;
        background: #fff;
        text-align: center;
        transition: all 250ms;
        color: $gray-600;

        i {
          position: relative;
          z-index: 2;
        }
      }

      .arrow {
        display: none;
        @include media-breakpoint-up(sm) {
          display: block;
        }
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $iconSize /  5 $iconSize /  2 0 $iconSize / 2;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        left: calc(50% - #{$iconSize} / 2);
        //top: calc(50% - #{$iconSize} / 2);
        bottom: 6px;
        z-index: 0;
        transition: all 250ms;
      }

      &.done {
        .progress-step {
          //background: $secondary;

          & + .level-marker {
            &.marker-level-1 {
              color: $secondary;
            }
            &.marker-level-2 {
              color: $accent;
            }
          }
        }

        .icon-wrapper {
          //background: darken($progressGreen, 15%);
          //color: darken($progressGreen, 15%);
        }
      }

      &.active {
        .icon-wrapper {
          top: - $iconSize + 5;
          width: $iconSize;
          height: $iconSize;
          line-height: $iconSize;
          border-radius: $iconSize / 2;
          //box-shadow: 0 0 0 3px $accent;
        }

        .arrow {
          border-width: $iconSize /  1.1 $iconSize /  2 0 $iconSize / 2;
        }
      }
    }
  }
}