.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
    //background: $gray-600;
    //color: #fff;

  &:hover {
    box-shadow: 0 2px 7px rgba(0,0,0,0.25);
  }

  .card-title {
    color: $primary;
    //font-family: "Playfair Display", serif;
    //font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
    display: flex;
    align-items: center;

    .badge {
      font-family: 'Open Sans', serif !important;
      text-transform: capitalize !important;
      font-size: 12px;
      margin-left: .5rem;

      &.badge-accent {
        background: $accent;
        color: #fff;
      }
    }
  }
}