//VALIDATION

input {
  &.av-invalid {
    ~.invalid-feedback {
      display: block;
      margin-top: 0;
    }
  }
}

label {
  text-transform: uppercase;
  font-size: 12px;
  color: $secondary;
  margin-bottom: 0;
}

// Checkbox and radio
//input[type='radio'], input[type='checkbox'] {
//  margin-right:10px;
//  margin-left: 0;
//  position: relative !important;
//}
//
//input[type='radio']:before, input[type='checkbox']:before {
//  content: '';
//  position: absolute;
//  top:-6px;
//  left:-2px;
//  display:inline-block;
//  width: 24px;
//  height: 24px;
//  border-radius: 24px;
//  margin:-1px 6px 0 0;
//  vertical-align:middle;
//  //background:url(check_radio_sheet.png) left top no-repeat;
//  background-color: #fff;
//}
//
//input[type='radio']:after, input[type='checkbox']:after {
//  content: '';
//  position: relative;
//  top:-6px;
//  left:-2px;
//  display:inline-block;
//  width: 24px;
//  height: 24px;
//  border-radius: 24px;
//  margin:-1px 6px 0 0;
//  vertical-align:middle;
//  //background:url(check_radio_sheet.png) left top no-repeat;
//  background-color: lightgray;
//  //cursor:pointer;
//
//  transition: transform 500ms, background-color 250ms ease 250ms;
//}
//
//input[type='radio']:checked:after, input[type='checkbox']:checked:after {
//  background-color: $primary;
//  transform: rotateY(360deg);
//  text-align: center;
//  content: '\f00c';
//  font-family: "Font Awesome 5 Free";
//  font-weight: 900;
//  color: #fff;
//  margin: 0 auto;
//  display: block;
//  font-size: 1.3rem;
//  line-height: 24px;
//}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: '\f058';
}

input[type=checkbox] + label:before { content: "\f111"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f058"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */


// React select
.Select-menu-outer {
  z-index: 2 !important;
}