html, body {
  //height: 100%;
  //min-height: 100vh;
}
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;

  &.fixed {
    //padding-top: 260px;

    .main-content {
      padding-top: 260px !important;
    }
  }
}

#root, .App {
  height: 100%;
}

.btn {
  //border-radius: 19px;
}

.Select-menu-outer {
  z-index: 99;
}

.fg_primary {
  color: $primary !important;
}

.fg_secondary {
  color: $secondary !important;
}

.fg_accent {
  color: $accent !important;
}

.fg_red {
  color: #be0000 !important;
}

.fg-white {
  color: #fff !important;
}

.media-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  padding-bottom: 56.25%;

  .video-placeholder {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
  }

  iframe, .video-placeholder {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}