html, body {
  //height: 100%;
  //min-height: 100vh;
}
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;

  &.fixed {
    //padding-top: 260px;

    .main-content {
      padding-top: 260px !important;
    }
  }
}

#root, .App {
  height: 100%;
}

.btn {
  //border-radius: 19px;
}

.Select-menu-outer {
  z-index: 99;
}

.fg_primary {
  color: $primary !important;
}

.fg_secondary {
  color: $secondary !important;
}

.fg_accent {
  color: $accent !important;
}

.fg_red {
  color: #be0000 !important;
}