.profile-card {
  position: relative;

  .addNew {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: $gray-200;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 250ms;

    &:hover {
      background: $primary;
      color: #fff;
    }

    &.addMode {
      transform: rotate(45deg);
      background: red;
      color: #fff;

      &:hover {
        background: red;
      }
    }
  }

  .profile-content {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255,255,255,0);
      z-index: -1;
      transition: background 250ms;

      &.active {
        background: rgba(255,255,255,0.75);
        z-index: 1;
      }
    }
  }
}