.register-wrapper {
  .register-container {
    .left-content {
      min-height: 100vh;
      .register-logo {
        //max-width: 120px;
      }

      .custom-checkbox {
        span {
          a {
            text-decoration: underline;
          }
        }
      }
    }
    .right-content {
      .subtitle {
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 40px;
      }
    }
  }
}