$menuItemSize: 40px;
$menuItemIconSize: 18px;
$menuItemFontSize: 14px;
$sideNavSize: 250px;

.profile-sidenav {
  position: fixed;
  right: 0;
  top: 300px;
  width: $sideNavSize;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .nav-item {
    display: flex;
    position: relative;
    right: - ($sideNavSize - $menuItemSize);
    transition: all 250ms ease-in-out;
    background: #fff;

    a {
      width: 100%;

      &:hover {
        text-decoration: none;
      }
    }

    .icon {
      background: $primary;
      color: #fff;
      height: $menuItemSize;
      width: $menuItemSize;
      text-align: center;
      line-height: $menuItemSize;
      font-size: $menuItemIconSize;
      float: left;
      box-shadow: inset 0 0 0 $secondary;
      transition: all 250ms;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
    
    .nav-text {
      //float: left;
      line-height: $menuItemSize;
      transition: width 250ms;
      padding-left: $menuItemSize + 10;
      font-size: $menuItemFontSize;


    }

    &.is-current {
      //right: -180px;

      .icon {
        //background: $secondary;
        font-size: $menuItemIconSize + 4;
        //box-shadow: inset -60px 0 0 $secondary;
      }
    }

    &:hover {
      right: 0;
      .nav-text {

      }
    }
  }

  &.down {
    .is-current {
      .icon {
        animation-name: navItemIsCurrentDown;
      }
    }

    .is-prev {
      .icon {
        animation-name: navItemIsCurrentUp;
        animation-direction: reverse;
      }
    }
  }

  &.up {
    .is-current {
      .icon {
        animation-name: navItemIsCurrentUp;
      }
    }

    .is-prev {
      .icon {
        animation-name: navItemIsCurrentDown;
        animation-direction: reverse;
      }
    }
  }
}

@keyframes navItemIsCurrentDown {
  0%   { box-shadow: inset 0 0 0 $secondary; }
  100% { box-shadow: inset 0 60px 0 $secondary; }
}
@keyframes navItemIsCurrentUp {
  0%   { box-shadow: inset 0 0 0 $secondary; }
  100% { box-shadow: inset 0 -60px 0 $secondary; }
}