
.language-wrapper {



}

.languages-slider {
  flex-grow: 1;
  //overflow: hidden;
}

.value {
  color: $gray-600;
  text-transform: uppercase;
  font-size: 12px;
}

.languages-form {
  border-bottom: 1px solid $gray-200;
}