.custom-checkbox {
  label {
    font-size: initial;
    text-transform: initial;
    display: flex;
    align-items: start;
  }
  input[type=checkbox] {
    display: none;
  }

  i {
    margin-left: -1.25rem;
    font-size: 18px;
    transition: all 500ms;
  }

  &.checked {
    i {
      color: $secondary;
      transform: rotateY(360deg) scale(1.3);
    }
  }
}