
.skill-wrapper {



}

.skills-slider {
  flex-grow: 1;
}

.skill-buttons {
  display: flex;
  flex-direction: row;
  .skill-button {
    color: $gray-300;
    cursor: pointer;
    width: 24px;
    height: 24px;

    &:hover {
      color: $gray-700;
    }
  }

  &.skill-buttons--edit-mode {
    color: #000;
  }
}

.value {
  color: $gray-400;
  text-transform: uppercase;
  font-size: 12px;
}

.skills-form {
  border-bottom: 1px solid $gray-200;
}