
.skill-wrapper {



}

.skills-slider {
  flex-grow: 1;
  //overflow: hidden;
}

.value {
  color: $gray-600;
  text-transform: uppercase;
  font-size: 12px;
}

.skills-form {
  border-bottom: 1px solid $gray-200;
}