#general .editForm.viewMode input {
  padding: 0;
  border: none;
}
#general .editForm.viewMode input:disabled {
  background: #fff;
}
#general .editForm.viewMode input:disabled::placeholder {
  color: transparent;
}
#general .editForm.viewMode input + .text-muted {
  display: none;
}
