.login-wrapper {

  .login-container {
    .left-content {
      min-height: 100vh;
      .login-logo {
        max-width: 120px;
      }
    }
    .right-content {
      .subtitle {
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 40px;
      }
    }
  }
}